{
    "ALLOWED_HOSTS": [ <ip1>, <ip2> ],
    "DB": {
        "ENGINE": "django.db.backends.postgresql",
        "NAME": <table name>,
        "USER": <username>,
        "PASSWORD": <password>,
        "HOST": <host or ip>,
        "PORT": <port>
    },
    "SECRET_KEY" : <key>
}